/* 各个页面相同的样式表:头和尾部 */
/* 该网站中多个网页相同模块的重复样式，如：头部、底部 */
body {
    background-image: url(../images/index_bg.gif);
    background-repeat: repeat-x;
}

/* 版心居中 */
.wrapper {
    width: 964px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}

.header {
    margin: 2px auto 0px;
}

.logo {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bander {
    float: left;
    margin-left: 10px;
    /* width: 850px; */
    height: 60px;
}

.nav {
    margin: 3px auto 0;
    width: 960px;
    height: 30px;
    background-image: url(../images/nav_bg.gif);
    background-repeat: repeat-x;
    background-color: #c33;
}

.tbox dt span {
    padding-left: 24px;
    color: #d81313;
}

.tbox dt a {
    color: #d81313;
}

.header .nav li {
    float: left;
    height: 28px;
}

.header .nav a {
    display: block;
    padding: 0 5px;
    border-right: 2px solid #ea3b3b;
    width: 63.9px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 26px;
}

.header .nav a:last-child{
border: 0;
}

.header .nav a:hover {
    background-image: url(../images/nav-bgc.png);
}

.header .declare {
    width: 100%;
    text-align: center;
    font: normal 400 14px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
    color: #c33;
    border-bottom: 1px solid #c9c9c9;
    line-height: 32px;
}

.header .declare span {
    text-align: center;
    font: normal 700 14px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
    color: red;
    line-height: 32px;
}