/* 美化首页清除影响 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 1;

    /* overflow: hidden; */
    /* font: 13px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体"; */
}

/* body不要加overflow:hidden */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

.b {
    font-weight: 700;
}

.green {
    color: green;
}

.red {
    color: red;
}

.tbox {
    border: 1px solid #c9c9c9;
    border-top: 2px solid #eb3331;
    font-size: 14px;
    color: #505050;
    overflow: hidden;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    /* clear: both; */
    visibility: hidden;
}


.clearfix::after {
    clear: both;
}

body {
    width:;
    background-image: url(../images/index_bg.gif);
    background-repeat: repeat-x;
}

/* 版心居中 */
.wrapper {
    width: 964px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}

.header {
    margin: 2px auto 0px;
}

.logo {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bander {
    float: left;
    margin-left: 10px;
    /* width: 850px; */
    height: 60px;
}

.nav {
    margin: 3px auto 0;
    width: 960px;
    height: 30px;
    background-image: url(../images/nav_bg.gif);
    background-repeat: repeat-x;
    background-color: #c33;
}

.tbox dt span {
    padding-left: 24px;
    color: #d81313;
}

.tbox dt a {
    color: #d81313;
}

.header .nav li {
    float: left;
    height: 28px;
}

.header .nav a {
    display: block;
    padding: 0 5px;
    border-right: 2px solid #ea3b3b;
    width: 63.9px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 26px;
}

.header .nav a:hover {
    background-image: url(../images/nav-bgc.png);
}

.header .declare {
    width: 100%;
    text-align: center;
    font: normal 400 14px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
    color: #c33;
    border-bottom: 1px solid #c9c9c9;
    line-height: 32px;
}

.header .declare span {
    text-align: center;
    font: normal 700 14px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
    color: red;
    line-height: 32px;
}

/* 中心文本 */
.plt {
    /* height: 1000px; */
    padding: 2px;
    background-image: url(../images/bgc2.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
}

/* 左边栏 */

.plt .leftsidebar {
    float: left;
    padding-right: 8px;
    height: 410px;
    width: 150px;
    margin: 0 auto;
    background: url(../images/dots.gif) repeat-y right;


}

.plt .leftsidebar .box-left-first {
    height: 405px;
    width: 141px;
    border-top: 2px solid #eb3331;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

.leftsidebar span {
    float: left;
    padding-left: 24px;
    height: 32px;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: #d81313;
}

.leftsidebar a.strong {
    height: 32px;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: #d81313;
}

.leftsidebar ul .title {
    margin: 0 auto;
    height: 32px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #c9c9c9;
    line-height: 32px;
    clear: both;
}

.leftsidebar ul li a {
    display: block;
}

.leftsidebar .content a {
    margin: auto 9px;
    height: 32px;
    border-bottom: 1px dashed #c9c9c9;
    text-indent: 14px;
    line-height: 32px;
    font-size: 14px;
    color: #444;
    background: url(../images/ico-3.gif) 4px 12px no-repeat;
}

.leftsidebar .title a:hover {
    color: rgb(61, 61, 61);
}

.leftsidebar .content a:hover {
    color: rgba(61, 61, 61, .7);
}

.plt .box-left-secode dt {
    border-bottom: 1px solid #c9c9c9;
    height: 32px;
    line-height: 32px;
    background-color: #f7f7f7;
}

.tbox .d2 dd ul li {
    margin: auto 9px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dashed #c9c9c9;
    background: url(../images/ico-3.gif) 4px 12px no-repeat;
    text-indent: 14px;

}

.tbox dl dt .more {
    float: right;
    padding-right: 8px;
    font-weight: 400;
}

.tbox dl dt .more a {
    color: #505050;
}

.tbox dl dd {
    margin: 0;
    padding: 5px 5px 10px 5px;
    overflow: hidden;
}

.tbox dl dt a:hover {
    color: rgb(61, 61, 61);
}

.tbox dl dd a:hover {
    color: rgba(61, 61, 61, .7);
}

.tbox dl dt .more a:hover {
    color: #f33;
    text-decoration: underline;
}

.plt .box-middle-secode dt {
    border-bottom: 1px solid #c9c9c9;
    height: 32px;
    line-height: 32px;
    background-color: #f7f7f7;
}

.plt .box-middle-secode dd li {
    float: left;
    width: 46.5%;

}

#d1 li {
    width: 30%;
}

/* 中间栏 中间左边都套一块了上几个算是中间通用栏 */

.middlesidebar {
    float: left;
    /* margin-left: 8px; */
    width: 554px;
    height: 410px;
    background: url(../images/dots.gif) repeat-y right;
}

.middlesidebar .title {
    padding: 8px 0 0 18px;
    color: #093;
}

.middlesidebar .title h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑;
    ;
}

.middlesidebar .explain {
    padding: 15px;
}

.middlesidebar .explain a,
span {
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}

.middlesidebar .explain span {
    text-indent: 2em;
    text-align: left;
}

.middlesidebar .explain span a:hover {
    color: #d81313;
}

.middlesidebar .title-xs {
    margin: 6px auto;
    width: 500px;
    height: 23px;
    border-bottom: 2px solid #c33;
}

.middlesidebar .title-xs h3 {
    float: left;
    margin: 0 0 10px 10px;
    padding-left: 21px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background: url(../images/dots_cur.gif) no-repeat;
}

.middlesidebar .title-xs span {
    float: right;
    line-height: 20px;
    font-size: 12px;
}

.middlesidebar .inform {
    font-size: 16px;
    line-height: 36px;
}

.middlesidebar .inform form .fname,
.lname {
    width: 114px;
    height: 24px;
    padding-left: 4px;
    border: 1px solid #b9b9b9;
}

.inform form {
    vertical-align: middle;
}

.inform form select {
    font: 12px Verdana, Arial, Tahoma;
    /* border:1px ; */
}

.middlesidebar .inform form .tel {
    height: 24px;
    border: 1px solid #b9b9b9;
    line-height: 22px;
}

.middlesidebar .inform .btn {
    outline: none;
    display: block;
    margin: 6px auto 0px;
    width: 92px;
    height: 32px;
    line-height: 24px;
    background-color: #fda039;
    border: 1px solid #fda039;
    ;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.middlesidebar .msg {
    font-size: 14px;
    text-align: left;
    text-indent: 2em;
    color: #444;
}

/* 最后左边中间小标题栏 */
.mt {
    overflow: hidden;
}

.mt .tbox {
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    width: 341px;

}

.mt .tbox dl dt {
    border-bottom: 1px solid #c9c9c9;
    height: 32px;
    line-height: 32px;
    background-color: #f7f7f7;
}

.mt .tbox dl dt a {
    padding-left: 10px;

}

.mt .tbox dl dt .more {
    line-height: 32px;
    color: #505050;
}

.mt .tbox dl dt .more:hover {
    text-decoration: underline;
    color: #f33;
}

.mt .tbox dl dd ul li {
    padding-left: 16px;
    border-bottom: 1px dashed #ddd;
    height: 32px;
    line-height: 32px;
    background: url(../images/ico-2.gif) 7px 16px no-repeat;

}

.mt .tbox dl dt span a {
    padding-left: 0;
}

.mt .tbox dl dd .explain {
    padding: 15px;
}

.mt .tbox dl dd .explain p {
    font-size: 14px;
    text-indent: 2em;
    line-height: 24px;
    color: #333;
}

/* 右边栏 */
.rightsidebar {
    float: right;
    width: 250px;
    margin-left: 5px;
    font-size: 14px;
}

.rightsidebar dl dt {
    border-top: 2px solid #eb3331;
    border-bottom: 1px solid #c9c9c9;
    height: 32px;
    line-height: 32px;
    background-color: #f7f7f7;
}

.rightsidebar dl dt span {
    float: left;
    padding-left: 10px;
    height: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #d81313;
}

.rightsidebar dl dd {
    padding: 5px 5px 10px 5px;
}

.rightsidebar .center-right {
    text-align: center;
}

.rightsidebar .box-right-first ul {
    margin: 0 13px;
}

.rightsidebar .box-right-first li {
    float: left;
    margin: 2px;
    padding: 3px;
    background-color: rgba(169, 168, 168, 0.679);
}

.rightsidebar .box-right-first ul li a {
    display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
}

.rightsidebar .box-right-first ul li:hover {
    background-color: rgba(80, 80, 80, 0.755);
}

.rightsidebar .mt {
    margin-top: 10px;
}

.rightsidebar .mt .tbox {
    width: auto;
    margin: 0;
}

.mt .tbox .d2 dd ul li {
    float: left;
    margin: 3px;
    padding: 0;
    /* 取消边框线 */
    border: 0;
    width: 106px;
    background: rgba(169, 168, 168, 0.679);
    text-align: left;
}

.mt .tbox .d2 dd ul li:hover {
    background-color: rgba(80, 80, 80, 0.755);
}