/* 美化首页清除影响 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    visibility: hidden;
    overflow: hidden;
    zoom: 1;
}

.clearfix::after {
    clear: both;
}

body {
    background-image: url(../imgas/index_bg.gif);
    background-repeat:repeat-x;
}
/* 版心居中 */
.wrapper{
    width: 964px;
    margin: 0 auto;
    background-color: #fff;
}
.header{
    width: 960px;
    height: 60px;
    margin: 2px auto ;
}
