/* 美化首页清除影响 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    zoom: 1;
    font: 13px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    visibility: hidden;
}

.clearfix::after {
    clear: both;
}

body {
    background-image: url(../imgas/index_bg.gif);
    background-repeat: repeat-x;
}

/* 版心居中 */
.wrapper {
    width: 964px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    margin: 2px auto 0px;
}

.logo {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bander {
    float: left;
    margin-left: 10px;
    /* width: 850px; */
    height: 60px;
}

.nav {
    margin-top: 3px;
    width: 960px;
    height: 30px;
    background-image: url(../imgas/nav_bg.gif);
    background-repeat: repeat-x;
    background-color: #c33;
}

.header .nav li {
    float: left;
    height: 28px;
}

.header .nav a {
    display: block;
    padding: 0 5px;
    border-right: 2px solid #ea3b3b;
    width: 64px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 26px;
}

.header .nav a:hover {
    background-image: url(../imgas/nav-bgc.png);
}

.header .declare {
    width: 100%;
    text-align: center;
    font: normal 400 14px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
    color: #c33;
    border-bottom: 1px solid #c9c9c9;
    line-height: 32px;
}

.header .declare span {
    text-align: center;
    font: normal 700 14px Verdana, Arial, Tahoma, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "宋体";
    color: red;
    line-height: 32px;
}

.plt {
    height: 1000px;
    padding: 2px;
}

.plt .leftsidebar {
    float: left;
    height: 405px;
    width: 150px;
    margin: 0 auto;
    border-top: 2px solid #eb3331;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

.leftsidebar span {
    float: left;
    padding-left: 24px;
    height: 32px;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: #d81313;
}

.leftsidebar a.strong {
    height: 32px;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: #d81313;
}

.leftsidebar ul .title {
    margin: 0 auto;
    height: 32px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #c9c9c9;
    line-height: 32px;
    clear: both;
}

.leftsidebar ul li a {
    display: block;
}

.leftsidebar .content a {
    margin: auto 9px;
    height: 32px;
    border-bottom: 1px dashed #c9c9c9;
    text-indent: 14px;
    line-height: 32px;
    font-size: 14px;
    color: #444;
    background: url(../imgas/ico-3.gif) 4px 9px no-repeat;
}
.leftsidebar .title a:hover {
    color:rgb(61, 61, 61) ;
}
.leftsidebar .content a:hover {
    color:rgba(61, 61, 61,.7) ;
}